/* 
Website colors 
*/

/* MAIN COLOR - PINK  #EF3F49  */
 
.not-found-404  .buttons-container a:hover, .form-submit .et_pb_button:hover, .woo-cart  .coupon input[name="apply_coupon"]:hover, .woocommerce form.checkout_coupon input[name="apply_coupon"]:hover, .woocommerce div.product form.cart .button:hover, .woocommerce .widget_price_filter .ui-slider .ui-slider-range, .woocommerce .widget_price_filter .ui-slider .ui-slider-handle, .woocommerce .widget_price_filter  button.button:hover, .woocommerce .woocommerce-pagination ul.page-numbers a:hover,  .woocommerce-page .woocommerce-pagination ul.page-numbers a:hover,  .wp-pagenavi a:hover, .home-slider .et-pb-controllers  a.et-pb-active-control, .home-slider  .et-pb-arrow-next:hover,  .home-slider .et-pb-arrow-prev:hover
{
	background-color:  #EF3F49 !important; 
}

.search-page-header h1 span, #top-header .et-social-icon a:hover, footer .et-social-icon a:hover, #footer-widgets .footer-widget  .widget_nav_menu li a:hover,  #footer-widgets .footer-widget  .widget_nav_menu li a:focus, #footer-widgets .footer-widget  .widget_nav_menu li.current-menu-item a, .woocommerce-info a.showlogin:hover, .woocommerce-info a.showcoupon:hover, .not-found-404 h2 span, .not-found-404 p.large-404, .woocommerce-MyAccount-navigation ul li a:hover, .post-navigation a:hover, .related-thumb h3.post-title:hover, .blog .et_pb_post  h2.entry-title:hover, .search .et_pb_post  h2.entry-title:hover, .archive .et_pb_post  h2.entry-title:hover, .empty-cart h1 span, .woo-cart form.woocommerce-cart-form td.product-name a:hover, body.woocommerce #content-area div.product .woocommerce-tabs ul.tabs li a:hover,  body.woocommerce div.product .woocommerce-tabs ul.tabs li a:hover, .woocommerce-breadcrumb a:hover, #sidebar li.cat-item.current-cat > a, .tagcloud a:hover, #sidebar .woocommerce ul.product_list_widget li span.product-title:hover,  #sidebar .woocommerce ul.cart_list li span.product-title:hover, .woocommerce ul.cart_list li a:hover,  .woocommerce ul.product_list_widget li a:hover, .woocommerce .woocommerce-pagination ul.page-numbers  span.current,  .woocommerce-page .woocommerce-pagination ul.page-numbers  span.current, .wp-pagenavi span.current, .home-slider .et_pb_slide_title span, .bottom-blurbs .et_pb_column:hover .et-pb-icon, .woocommerce ul.products li.product .woocommerce-loop-category__title:hover,  .woocommerce ul.products li.product .woocommerce-loop-product__title:hover,  .woocommerce ul.products li.product h3:hover, .woocommerce ul.products li.product .button.add_to_cart_button:hover, .et_pb_blog_grid .et_pb_post .entry-title:hover
{
	color:  #EF3F49 !important; 
}

#top-header .et-social-icon a:hover, footer .et-social-icon a:hover, .woocommerce div.product div.images .flex-control-thumbs li img.flex-active, .woocommerce div.product div.images .flex-control-thumbs li img:hover, .not-found-404  .buttons-container a:hover, .tagcloud a:hover, .woocommerce .woocommerce-pagination ul.page-numbers  span.current,  .woocommerce-page .woocommerce-pagination ul.page-numbers  span.current, .wp-pagenavi span.current, .home-slider .et-pb-controllers  a.et-pb-active-control:before, .woocommerce ul.products li.product .button.add_to_cart_button:hover, .bottom-blurbs .et_pb_column:hover 
{
	border-color:  #EF3F49 !important; 
}

.woocommerce .widget_price_filter .ui-slider .ui-slider-handle:after {
	border-top-color:  #EF3F49 !important; 
}

/* Black button hover */

.widget_shopping_cart .woocommerce-mini-cart__buttons a.button:hover,
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button:hover,
.woocommerce #payment #place_order:hover, 
.woocommerce-page #payment #place_order:hover
{
	background: #000 !important;
	color: #fff !important;
}